<!DOCTYPE html>
<html lang="en" style = "background:rgb(95, 111, 129)">
<head>
    <meta charset="UTF-8">
    <title>Flask Web App</title>
    <style>
        h1{color: rgb(43, 226, 174);inline-size: 6cm;}
        button{color: rgb(226, 43, 192); background-color: cadetblue;font-style: oblique;}
    </style>
</head>
<body>
    <h1>Welcome to Flask Page 1!</h1>
    <button id="alertBtn" >Click Me</button>
    <button id="alertBtn2">Click ME Button 2</button>
    <button id="alertBtn3">Click ME Button 3</button>
   

    <br><br>

    <img src="/static/flask.jpg" alt="Flask image" width="300" height="200">

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>Alfredo</td>
            <td>Torrena</td>
        </tr>
    </table>

    <button id="goToPage2Btn">Click to go to page 2</button>

 

    <script src="/static/script.js"></script>
</body>
</html>
